ul {
    list-style-type: none;
}

.recipe-tabs ul {
    padding-left: 15px;
}

.recipe-tabs .well {
    background-color: #ffffff;
    margin-top: -1px;
}

.header-right {
    text-align: right;
}

.create .ingredients li tbody {
    display: flex;
}

.create .ingredients li tbody tr {
    margin: 10px;
}

.create .ingredients li tbody tr th label {
    margin-right: 5px;
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 60px;
    clear: both;
    padding-top: 20px;
    background-color: #7a7a7a;
    text-align: center;
    color: #FFFFFF;
}

.footer p {
    font-style: normal;
    font-family: fantasy;
}

.footer p a {
    color: #20d3ff;
}
