<div class="recipe-tabs">
    <ul class="recipes">
        {% for event in events %}
            <li class="recipe">
                <div class="row well">
                    <div class="header-left col-md-10">

                        <div class="recipe-title">
                            {{ event.title }}
                        </div>

                        <div class="recipe-date">
                            When: {{ moment(event.timestamp).format("L") }}
                        </div>

                        <div class="recipe-location">
                            Where: <a href="http://maps.google.com/?q={{ event.location }}">{{ event.location }}</a>
                        </div>
                        <div class="recipe-footer">
                            <a href="{{ url_for('events.event_profile', id=event.id) }}">
                                <span class="label label-default">See detail</span>
                            </a>
                            <a href="{{ url_for('events.event_profile', id=event.id) }}#reviews">
                                <span class="label label-primary">{{ event.reports.count() }} Reports</span>
                            </a>
                        </div>
                    </div>

                    <div class="header-right col-md-2">
                        <h4>Organizor</h4>
                        <div class="recipe-author">
                            <div class="user-thumbnail">
                                <a href="{{ url_for('main.user', username=event.creator.username) }}">
                                    <img class="img-rounded profile-thumbnail"
                                         src="{{ event.creator.gravatar(size=40) }}">
                                </a>
                            </div>
                            <div class="recipe-user">
                                <a href="{{ url_for('main.user', username=event.creator.username) }}">{{ event.creator.username }}</a>
                            </div>
                            <div class="recipe-date">
                                Last update: {{ moment(event.timestamp).fromNow() }}
                            </div>
                        </div>
                    </div>
                </div>


            </li>
        {% endfor %}
    </ul>
</div>
