<div class="recipe-tabs">
    <ul class="recipes">
        {% for event in events %}
            <li class="recipe">
                <div class="well">
                    <div class="event-content">
                        <div class="event-title">
                            Title: {{ event.title }}
                        </div>
                        <div class="event-date">
                            Last update: {{ moment(event.timestamp).fromNow() }}
                        </div>
                        <div class="event-date">
                            When: {{ event.timestamp }}
                        </div>

                        <div class="event-location">
                            Where: <a href="http://maps.google.com/?q={{ event.location }}">{{ event.location }}</a>
                        </div>
                        <div class="recipe-footer">
                            <a href="{{ url_for('events.event_profile', id=event.id) }}">
                                <span class="label label-default">See detail</span>
                            </a>
                            <a href="{{ url_for('events.event_profile', id=event.id) }}#reviews">
                                <span class="label label-primary">{{ event.reports.count() }} Reports</span>
                            </a>
                        </div>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>
</div>
