{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/css/prism.css') }}">
{% endblock %}

{% block title %}Cookzilla - Create My Event{% endblock %}

{% block page_content %}
    <div class="entry-box create">
        <h1><Strong>Create My Event</Strong></h1>
        <hr/>
        <form class="create" method="post" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <div class="form-group">
                <h2>{{ form.title.label(class="control-label") }}</h2>
                <br>
                {{ form.title(class="create-title") }}
            </div>
            <div class="form-group">
                <h2>{{ form.timestamp.label(class="control-label") }}</h2>
                <br>
                {{ form.timestamp(class="datepicker") }}
            </div>
            <div class="form-group">
                <h2>{{ form.location.label(class="control-label") }}</h2>
                <br>
                {{ form.location(class="create-location") }}
            </div>

            <div class="form-group">
                <h2>{{ form.about_event.label() }}</h2>
                <br>
                {{ form.about_event(class="ckeditor") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-danger") }}
            </div>
        </form>
    </div>
{% endblock %}

{% block side_content %}
    {% include "utils/_message_event.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
