{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/css/prism.css') }}">
{% endblock %}

{% block title %}Cookzilla - Event{% endblock %}

{% block page_content %}
    {% include 'events/_event.html' %}

    <h4 id="reports">Reports</h4>
    {% if reports %}
        {% include 'reports/_reports.html' %}
        {% include 'utils/_pagination.html' %}
    {% endif %}
    {% include "reports/create.html" %}
{% endblock %}

{% block side_content %}
    {% with target_user=event.creator %}
        {% include "utils/_side_user_info.html" %}
    {% endwith %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

