<div class="recipe-tabs">
    <ul class="recipes">
        {% for review in reviews %}
            <li class="recipe">
                <div class="row well">
                    <div class="header-left col-md-6">
                        <h4>{{ review.title }}</h4>
                        {{ review.body | safe }}
                    </div>
                    <div class="header-right col-md-6">
                        <div class="recipe-author">
                            <div class="user-thumbnail">
                                <a href="{{ url_for('main.user', username=review.author.username) }}">
                                    <img class="img-rounded profile-thumbnail"
                                         src="{{ review.author.gravatar(size=40) }}">
                                </a>
                            </div>
                            <div class="recipe-user">
                                <a href="{{ url_for('main.user', username=review.author.username) }}">{{ review.author.username }}</a>
                            </div>
                            <div class="recipe-date">
                                Update: {{ moment(review.timestamp).fromNow() }}
                            </div>
                        </div>
                        <h5>Rating:
                            <div id="rating">
                                {% for _ in range(review.rating) %}
                                    &#9733;
                                {% endfor %}
                            </div>

                        </h5>

                        {% if review.suggestion %}
                            <h5>Suggestion: </h5>
                            <div class="review-suggestion">
                                {{ review.suggestion }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>