<table class="table table-hover followers">
    <thead>
    <tr>
        <th>Group</th>
        <th>Since</th>
    </tr>
    </thead>
    {% for group in groups %}
        <tr>
            <td>
                <a href="{{ url_for('groups.group_profile', id=group.group.id) }}">
                    {{ group.group.title }}
                </a>
            </td>
            <td>{{ moment(group.member_since).format('L') }}</td>
        </tr>
    {% endfor %}
</table>
{% if pagination %}
    {% include "utils/_pagination.html" %}
{% endif %}
