{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/css/prism.css') }}">
{% endblock %}

{% block title %}Cookzilla - Create Your Group{% endblock %}

{% block page_content %}
    <div class="entry-box create">
        <h1><Strong>Create your Group</Strong></h1>
        <hr/>
        <form class="create" method="post" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <div class="form-group">
                <h2>{{ form.title.label(class="control-label") }}</h2>
                <br>
                {{ form.title(class="create-title") }}
            </div>
            <div class="form-group">
                <h2>{{ form.about_group.label() }}</h2>
                <br>
                {{ form.about_group(class="ckeditor") }}
            </div>
                {{ form.submit(class="btn btn-danger") }}
        </form>
    </div>
{% endblock %}

{% block side_content %}
    {% include "utils/_message_group.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
