{% extends "base.html" %}

{% block title %}Cookzilla - {{ group.title }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="profile-header">
            <h1>Title: {{ group.title }}</h1>
            {% if group.about_group %}
                <p>About this group: {{ group.about_group | safe }}</p>
            {% endif %}
            <p>Grouped since: {{ moment(group.grouped_since).format('L') }}.</p>
            <p>{{ group.events.count() }} Group events.</p>
            <p>
                {% if current_user.is_member(group) %}
                    <a href="{{ url_for('events.create', group_id=group.id) }}" class="btn btn-primary">Create Event</a>
                    {% else %}
                    join this group
                    {% endif %}
            </p>
        </div>
    </div>

{#    event list <h3>recipes by {{ user.username }}</h3>#}
{#    {% include '_recipes.html' %}#}
{#    {% if pagination %}#}
{#        <div class="pagination">#}
{#            {{ macros.pagination_widget(pagination, '.user', username=user.username) }}#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}
