{% extends "base.html" %}

{% block title %}Cookzilla - {{ group.title }}{% endblock %}

{% block page_content %}

    <div class="profile-header">


        <h1>{{ group.title }}</h1>
        <h2>About this group</h2>
        {% if group.about_group %}
            <p>{{ group.about_group | safe }}</p>
        {% endif %}

        <p><strong>Grouped since:</strong> {{ moment(group.grouped_since).format('L') }}.</p>
        <p>{{ group.events.count() }} Group events.</p>
        <p>
            {% if not current_user.is_member(group) %}
                <a href="{{ url_for('groups.member', id=group.id) }}" class="btn btn-warning">Join this group</a>
            {% else %}
                <a href="{{ url_for('events.create', group_id=group.id) }}" class="btn btn-default">Create Event</a>
                <a href="{{ url_for('groups.unmember', id=group.id) }}"
                   class="btn btn-danger">Leave this group</a>
            {% endif %}
        </p>
    </div>

    <div>

        {% if current_user.is_member(group) %}
            <h2>Events</h2>
            {% include 'events/_events.html' %}
            {% if pagination %}
                {% include 'utils/_pagination.html' %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block side_content %}
    <h1>Creator</h1>
    {% with target_user=group.creator %}
        {% include "users/_user.html" %}
    {% endwith %}
    {% if current_user.is_member(group) %}
        <h1>Member List</h1>
        {% with users=group.members %}
            {% include "users/_side_members_list.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}