<div class="recipe">
    <div class="recipe-title">
        <h1>{{ recipe.title }}</h1>
    </div>
    {% if recipe.photos %}
        <div class="recipe-thumbnail">
            <a href="{{ url_for('recipes.recipe', id=recipe.id) }}">
                <img class="img-rounded profile-thumbnail" alt="missing photo" src={{ recipe.photos }} height="400">
            </a>
        </div>
    {% endif %}
    <div class="recipe-content">
        <h3>Last update</h3>
        <p class="recipe-date">

            {{ moment(recipe.timestamp).fromNow() }}
        </p>
        <h3>Serving</h3>
        <p class="recipe-serving">
            {{ recipe.serving }} People
        </p>
        <h3>How to make it</h3>

        <p class="recipe-body">
            {{ recipe.body | safe }}
        </p>
        <h3> Ingredients</h3>
        <p class="recipe-ingredients">
            {% for ingredient in recipe.ingredients.all() %}
                <p><strong>Name:</strong> {{ ingredient.name }} <strong>Unit:</strong> {{ ingredient.unit }}
                    <strong>Quantity:</strong> {{ ingredient.quantity }}</p>
            {% endfor %}
        </p>
        <p class="recipe-tags">
            {% if recipe.tags.all() %}
                <h3>Tag:</h3>
                {% for tag in recipe.tags.all() %}
                    <a class="tags" href="{{ url_for('tags.tag', id=tag.id) }}">{{ tag.tag }}</a>
                {% endfor %}
            {% endif %}
        </p>

        <h3>links:</h3>
        <p class="recipe-links">
            {% with recipes=recipe.links.all() %}
                {% include "recipes/_recipes.html" %}
            {% endwith %}
        </p>
        <p class="recipe-footer">
            {% if current_user == recipe.author %}
                <a href="{{ url_for('recipes.edit', id=recipe.id) }}">
                    <span class="label label-danger">Edit</span>
                </a>
            {% endif %}
        </p>
    </div>
</div>
