<ul class="reviews">
    {% for review in reviews %}
    <li class="review">
        <div class="review-thumbnail">
            <a href="{{ url_for('main.user', username=review.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ review.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="review-content">
            <div class="review-date">
                {{ moment(review.timestamp).fromNow() }}
            </div>
            <div class="review-author">
                <a href="{{ url_for('main.user', username=review.author.username) }}">{{ review.author.username }}</a>
            </div>
            <div class="review-body">
                {% if review.disabled %}
                <p><i>This review has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not review.disabled %}
                    {% if review.body_html %}
                        {{ review.body_html | safe }}
                    {% else %}
                        {{ review.body }}
                    {% endif %}
                {% endif %}
            </div>
            {% if moderate %}
                <br>
                {% if review.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('main.moderate_enable', id=review.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('main.moderate_disable', id=review.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
