{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Cookzilla - Create your recipe
{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/css/prism.css') }}">
{% endblock %}



{% block page_content %}
    <div class="entry-box create-recipe">
        <h4><strong>Submit Your Recipe</strong></h4>
        <hr/>
        <form class="create_recipe" method="post" action="">
            {{ recipe_form.csrf_token }}
            <div class="form-group">
                {{ recipe_form.title.label(class="control-label") }}
                {{ recipe_form.title(class="create-recipe-title" , size=20) }}
            </div>
            <div class="form-group">
                {{ recipe_form.serving.label(class="control-label") }}
                {{ recipe_form.serving(class="", required="") }}
            </div>
            <div class="form-group">
                {{ recipe_form.body.label(class="control-label") }}
                {{ recipe_form.body() }}
            </div>
            <form class="form form-vertical" method="post" role="form">
                {{ ingredient_form.hidden_tag() }}
                {{ wtf.form_errors(ingredient_form, hiddens="only") }}

                {{ wtf.form_field(ingredient_form.name) }}
                {{ wtf.form_field(ingredient_form.unit) }}
                {{ wtf.form_field(ingredient_form.quantity) }}
            </form>

            <input type="submit" value="Go">
            <hr/>

        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/plugin.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
{% endblock %}

