{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='tinymce/js/tinymce/plugins/codesample/css/prism.css') }}">
{% endblock %}

{% block title %}Cookzilla - Recipe{% endblock %}

{% block page_content %}
    {% include 'recipes/_recipe.html' %}
    <h3 id="reviews">Comments</h3>
    {% if reviews %}
        {% include 'reviews/_reviews.html' %}
        {% include 'utils/_pagination.html' %}
    {% endif %}
    {% include "reviews/create.html" %}
{% endblock %}

{% block side_content %}
    <div class="well">
        <h2>Author</h2>
        {% with target_user=recipe.author %}
            {% include "users/_user.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
