{% extends "bootstrap/base.html" %}

{% block title %}Cookzilla{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block stylesheet %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        {#        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">#}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <div class='header-top'>
        <div class="container">
            <h1 class="blog-title">
                <li><a href="{{ url_for('main.index') }}">Cookzilla</a></li>
            </h1>
            {#            <p class="lead signature">#}
            {#                {{ BlogInfo.query.first().signature }}#}
            {#            </p>#}
        </div>
    </div>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Cookzilla</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Me</a></li>
                        <li><a href="{{ url_for('groups.group_list', username=current_user.username) }}">My Groups</a>
                        </li>
                        <li><a href="{{ url_for('events.event_list', username=current_user.username) }}">My Events</a>
                        </li>
                        {% if current_user.is_administrator() %}
                            <li><a href="{{ url_for('main.log') }}">My
                                Logs</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {#                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}#}
                    {#                        <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>#}
                    {#                    {% endif %}#}
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user.gravatar(size=18) }}">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 article">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
            <div class="col-md-4 side">
                {% block side_content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="footer-content">
            Copyright@2016
            <a href="#">Cookzilla</a>
            <span class="glyphicon glyphicon-heart"> </span>By CT and XL
        </p>
    </div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    {#    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>#}
    {# csrfToken for Ajax   #}
    <script>
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>
    {{ moment.include_moment() }}
{% endblock %}